<%= form_for(@offhand) do |f| %>
  <% if @offhand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offhand.errors.count, "error") %> prohibited this offhand from being saved:</h2>

      <ul>
      <% @offhand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :quality %><br>
    <%= f.number_field :quality %>
  </div>
  <div class="field">
    <%= f.label :itemLevel %><br>
    <%= f.number_field :itemLevel %>
  </div>
  <div class="field">
    <%= f.label :armor %><br>
    <%= f.number_field :armor %>
  </div>
  <div class="field">
    <%= f.label :context %><br>
    <%= f.text_field :context %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
