<p id="notice"><%= notice %></p>

<h1>Listing Tabards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quality</th>
      <th>Itemlevel</th>
      <th>Context</th>
      <th>Armor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tabards.each do |tabard| %>
      <tr>
        <td><%= tabard.name %></td>
        <td><%= tabard.quality %></td>
        <td><%= tabard.itemLevel %></td>
        <td><%= tabard.context %></td>
        <td><%= tabard.armor %></td>
        <td><%= link_to 'Show', tabard %></td>
        <td><%= link_to 'Edit', edit_tabard_path(tabard) %></td>
        <td><%= link_to 'Destroy', tabard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>