<p id="notice"><%= notice %></p>

<h1>Listing Mounts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Flying</th>
      <th>Ground</th>
      <th>Aquatic</th>
      <th>Jumping</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mounts.each do |mount| %>
      <tr>
        <td><%= mount.name %></td>
        <td><%= mount.isFlying %></td>
        <td><%= mount.isGround %></td>
        <td><%= mount.isAquatic %></td>
        <td><%= mount.isJumping %></td>
        <td><%= link_to 'Show', mount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
