<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mount.name %>
</p>

<p>
  <strong>Flying:</strong>
  <%= @mount.isFlying %>
</p>

<p>
  <strong>Ground:</strong>
  <%= @mount.isGround %>
</p>

<p>
  <strong>Aquatic:</strong>
  <%= @mount.isAquatic %>
</p>

<p>
  <strong>Jumping:</strong>
  <%= @mount.isJumping %>
</p>

<%= link_to 'Back', mounts_path %>
