<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mount.name %>
</p>

<p>
  <strong>Flying:</strong>
  <%= @mount.flying %>
</p>

<p>
  <strong>Ground:</strong>
  <%= @mount.ground %>
</p>

<p>
  <strong>Aquatic:</strong>
  <%= @mount.aquatic %>
</p>

<p>
  <strong>Jumping:</strong>
  <%= @mount.jumping %>
</p>

<%= link_to 'Back', mounts_path %>
