<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trinket.name %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @trinket.quality %>
</p>

<p>
  <strong>Itemlevel:</strong>
  <%= @trinket.itemLevel %>
</p>

<p>
  <strong>Armor:</strong>
  <%= @trinket.armor %>
</p>

<p>
  <strong>Context:</strong>
  <%= @trinket.context %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @trinket.icon %>
</p>

<%= link_to 'Back', trinkets_path %>
