<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @neckpiece.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @neckpiece.icon %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @neckpiece.quality %>
</p>

<p>
  <strong>Itemlevel:</strong>
  <%= @neckpiece.itemLevel %>
</p>

<p>
  <strong>Armor:</strong>
  <%= @neckpiece.armor %>
</p>

<p>
  <strong>Context:</strong>
  <%= @neckpiece.context %>
</p>

<%= link_to 'Back', neckpieces_path %>
