<p id="notice"><%= notice %></p>

<h1>Listing Armors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quality</th>
      <th>Level</th>
      <th>Armor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @armors.each do |armor| %>
      <tr>
        <td><%= armor.name %></td>
        <td><%= armor.quality %></td>
        <td><%= armor.itemLevel %></td>
        <td><%= armor.armor %></td>
        <td><%= link_to 'Show', armor %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
