<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @armor.name %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @armor.quality %>
</p>

<p>
  <strong>Level:</strong>
  <%= @armor.itemLevel %>
</p>

<p>
  <strong>Armor:</strong>
  <%= @armor.armor %>
</p>

<%= link_to 'Edit', edit_armor_path(@armor) %> |
<%= link_to 'Back', armors_path %>
