<p id="notice"><%= notice %></p>

<p>
  <strong>Health:</strong>
  <%= @stat.health %>
</p>

<p>
  <strong>Powertype:</strong>
  <%= @stat.powerType %>
</p>

<p>
  <strong>Power:</strong>
  <%= @stat.power %>
</p>

<p>
  <strong>Str:</strong>
  <%= @stat.str %>
</p>

<p>
  <strong>Agi:</strong>
  <%= @stat.agi %>
</p>

<p>
  <strong>Int:</strong>
  <%= @stat.int %>
</p>

<p>
  <strong>Sta:</strong>
  <%= @stat.sta %>
</p>

<p>
  <strong>Crit:</strong>
  <%= @stat.crit %>
</p>

<p>
  <strong>Haste:</strong>
  <%= @stat.haste %>
</p>

<p>
  <strong>Mastery:</strong>
  <%= @stat.mastery %>
</p>

<p>
  <strong>Bonusarmor:</strong>
  <%= @stat.bonusArmor %>
</p>

<p>
  <strong>Spellpower:</strong>
  <%= @stat.spellPower %>
</p>

<p>
  <strong>Armor:</strong>
  <%= @stat.armor %>
</p>

<p>
  <strong>Parry:</strong>
  <%= @stat.parry %>
</p>

<p>
  <strong>Block:</strong>
  <%= @stat.block %>
</p>

<p>
  <strong>Attackpower:</strong>
  <%= @stat.attackPower %>
</p>

<p>
  <strong>Mainhanddps:</strong>
  <%= @stat.mainHandDps %>
</p>

<p>
  <strong>Rangedattackpower:</strong>
  <%= @stat.rangedAttackPower %>
</p>

