<p id="notice"><%= notice %></p>

<h1>Listing Stats</h1>

<table>
  <thead>
    <tr>
      <th>Health</th>
      <th>Powertype</th>
      <th>Power</th>
      <th>Str</th>
      <th>Agi</th>
      <th>Int</th>
      <th>Sta</th>
      <th>Crit</th>
      <th>Haste</th>
      <th>Mastery</th>
      <th>Bonusarmor</th>
      <th>Spellpower</th>
      <th>Armor</th>
      <th>Parry</th>
      <th>Block</th>
      <th>Attackpower</th>
      <th>Mainhanddps</th>
      <th>Rangedattackpower</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <td><%= stat.health %></td>
        <td><%= stat.powerType %></td>
        <td><%= stat.power %></td>
        <td><%= stat.str %></td>
        <td><%= stat.agi %></td>
        <td><%= stat.int %></td>
        <td><%= stat.sta %></td>
        <td><%= stat.crit %></td>
        <td><%= stat.haste %></td>
        <td><%= stat.mastery %></td>
        <td><%= stat.bonusArmor %></td>
        <td><%= stat.spellPower %></td>
        <td><%= stat.armor %></td>
        <td><%= stat.parry %></td>
        <td><%= stat.block %></td>
        <td><%= stat.attackPower %></td>
        <td><%= stat.mainHandDps %></td>
        <td><%= stat.rangedAttackPower %></td>
        <td><%= link_to 'Show', stat %></td>
        <td><%= link_to 'Edit', edit_stat_path(stat) %></td>
        <td><%= link_to 'Destroy', stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stat', new_stat_path %>
