<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ring.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @ring.icon %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @ring.quality %>
</p>

<p>
  <strong>Itemlevel:</strong>
  <%= @ring.itemLevel %>
</p>

<p>
  <strong>Armor:</strong>
  <%= @ring.armor %>
</p>

<p>
  <strong>Context:</strong>
  <%= @ring.context %>
</p>

<%= link_to 'Back', rings_path %>
