<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Home", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Characers",   characters_path %></li>
        <li><%= link_to "Guilds",   guilds_path %></li>
        <li><%= link_to "Mounts", mounts_path %></li>
        <li><%= link_to "Armor", armors_path %></li>
        <li><%= link_to "Necks", neckpieces_path %></li>
        <li><%= link_to "Trinkets", trinkets_path %></li>
        <li><%= link_to "Ringh", rings_path %></li>
        <li><%= link_to "Titles", titles_path %></li>
        <li><%= link_to "Tabards", tabards_path %></li>
        <li><%= link_to "MainHands", mainhands_path %></li>
        <li><%= link_to "OffHands", offhands_path %></li>
      </ul>
    </nav>
  </div>
</header>